<div class="row-fluid">
	<div class="span5 offset1">
		<div class="UserProfile">

			<h3> Reply </h3>
			<%= render partial: "form_reply" %>
			

		</div>
	</div>

	<div class="span5">
		<div class="MemberDisplay">

			<h3>Message from <%= @message.from.name %>

			<p><strong><%= @message.topic %></strong></h2>

			<%= simple_format @message.body %>

		</div>
	</div>
</div>