	<% if current_user %>

			<% @messages.each do |msg| %>
			<div class="messages">

			<p>From: <%= msg.from.name %></p>
			<p>Subject: <%= msg.topic %></p>
			<p>Message:<%= msg.body %></p>
			</div>
		<% end %>

	<% end %>
