	<div class="span5">
		<div class="MemberDisplay">


			<% if current_user %>

				<% @friends.each do |friend| %>

					<p>Friends: <%=link_to friend.name, friend %>

						<% if current_user.friend_with? friend %>

						<%= link_to "Remove", friend_path(friend), :method => :delete, :class => "btn-small btn-danger" %>

						<% end %></p>
					<% end %>

				<% @users.each do |user| %>

				<% if user.invited? current_user %>
					
					<p>Requests: <%=link_to user.name, user %>
											
						<%= link_to "Confirm friend", friend_path(user), :method => :put, :class => "btn-small btn-primary" %> 

						<% end %>

					<% end %></p>

				<% end %>

		</div>
	</div>

