
<% if user_signed_in? %>

<h3>Hello <%= current_user.name %>!</h3>

	<%= render partial: 'index_profiles' %>

<% else %>

<h3>Please sign up <%= link_to 'here', new_user_registration_path %></h3>

<% end %> 

