
<div class="row-fluid">
	<div id="column-group">
		<div class="span5 offset1 UserProfile">

			<% if user_signed_in? %>

			<h3>Hello <%= current_user.name %>!</h3>

		</div>
	
	<div class="span5 MemberDisplay">

				<%= render partial: 'index_profiles' %>

			<% else %>

			<h3>Please sign up <%= link_to 'here', new_user_registration_path %></h3>

			<% end %> 


		</div>
	</div>
</div>